# Environments
.env
.env.local
.env.development
.env.test
.env.production

# IDE
.vscode/
.idea/
.DS_Store

# Backend
backend/main
backend/*.exe

# Frontend (if built at root or node_modules at root)
node_modules/
dist/
